main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 2rem auto 0;
  width: 650px;
  .toggle-chat {
    position: absolute;
    right: 0;
  }
  .chat-body {
    margin-top: 2rem;
    background: #fefefe;
    width: 100%;
  }
}
