body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// chat coloring
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0.15rem 0.25rem;
    &:nth-of-type(odd) {
      color: red;
    }
    &:nth-of-type(even) {
      color: blue;
    }
  }
}
